<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../assets/styles/work.css">
</head>
<body>
<div class="body">
	<div class="nav">
    <a id="design">Select Design <span>▼</span></a> <a id="add">Add Item</a>
    <ul class="sublist">
    	<li>List</li>
		<li>Card</li>
    </ul>
    <input class="filter" type="text" placeholder="Name">
    <input class="filter" type="text" placeholder="Auther">
    <input class="filter" type="text" placeholder="Like">
    <input class="filter" type="text" placeholder="Comment">
		
	</div>

	
	<script src="../script/controllers/work.js"></script>
</div>
</body>
</html>