@media screen and (max-width: 430px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (min-width: 431px) {
    .login-container {
        width: 400px;
    }
}

.background {
    background-image: url("../images/app/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    
    position: fixed;
    width: 100%;
    height: 100%;
}

.logincontent {
    margin: auto;
    margin-top: 15%;
    width: 500px;
    text-align: center;
}

h1 {
    color: white;
}

input {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    font-size: 150%;
    padding: 8px 5px 8px 5px;
    border: none;
}

#user {
    width: 490px;
}

#pass {
    width: 490px;
}

#sub {
    width: 490px;
    background: lightgreen;
}
